.teach-card {

  &__title {
    font-size: 24px;
    font-weight: 600;
    color: #141024 !important;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    color: rgba(20, 16, 36, 0.7) !important;
  }
}
