.teachers-carousel{
  max-width: 50% !important;
}
.teach-card__content{
  
}
.teach-card__title{
  font-size: 24px; 
  font-weight: 600; 
  color: #141024 !important;
}
.teach-card__text{
  font-size: 18px; 
  font-weight: 400; 
  color: rgba(20, 16, 36, 0.7) !important;
}