// .description{
//   margin:0 20% !important;
// }

.block-description{
  font-weight: 400;
  font-size: 30px;

  &__text{
    color: rgba(20, 16, 36, 0.7);
  }
  .num{
    font-size: 70px;
    color: #D52027;
  }
}


