.teacher-card {

  &__title {
    color: #141024 !important;
  }

  &__text {
    color: rgba(20, 16, 36, 0.7) !important;
  }
}

.teacher-modal{

  &__contacts{
    background-color: #141024 !important;
  }
  &__info{

    &__title{
      color: #D52027 !important;
    }
  }
  &__underline{
    border: 1px solid rgba(20, 16, 36, 0.11);
  }
}