.description{

  font-weight: 400; 
  font-size: 30px;
}
.school-name{
  font-weight: 600
}
.description-block__text{
  color: rgba(20, 16, 36, 0.7); 
  font-weight: 400; 
  font-size: 18px;
}
.num{
  font-size: 70px;
  font-weight: 600;
  color: #D52027;
}
