.package-card{
  color: #141024;
  border:1px solid rgba(20, 16, 36, 0.2) !important;

  &:hover{
    background-color: #141024;
    border: none;
    color: #ffffff;
    transform: scaleY(1.1);
  }

  &__title{
    // font-size: 30px;
    font-weight: 600;
  }

  &__price{
    // font-size: 50px;
    font-weight: 600;
  }
  &__button{
    border: none !important;
    background-color: #D52027 !important;
  }
}
