.banner{
  background-color: #141024;
  min-height: 100vh;
}


.banner-block{
  &__btn{
    border-radius: 5px;
    background-color: #D52027 !important;
  }
}

@media (min-width:1900px) {
  .test-content{
    padding-left: 30% !important;
  }
}
