.package-card{
  color: #141024;
  border: 1px solid rgba(20, 16, 36, 0.2);

  &:hover{
    background-color: #141024;
    border: none;
    color: #ffffff;
    transform: scaleY(1.1);
  }
}
.package-card__title{
  font-size: 30px;
  font-weight: 600;
}
.package-card__price{
  font-size: 50px;
  font-weight: 600;

}
.package-card__button{
  color:#ffffff !important;
  position:absolute !important;
  bottom: 0;
  right: 10%;
  background-color: #D52027;
}
