@charset 'UTF-8';

.custom-icon {
  svg {
    width: 1em;
    height: 1em;
    fill: currentColor !important;
    * {
      fill: currentColor !important;
    }
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style: none;
}

body {
  margin: 0;
}
.block-title {
  color: #141024;
}
.default-spacing{
  padding:0 18% !important;

  @media (max-width: 1800px){
    padding:0 10% !important;
  }
  @media (max-width:1500px){
    padding:0 0 !important;
  }
}

.default-spacing-feedback{
  padding:0 18% !important;

  @media (max-width: 1900px){
    padding:0 3% !important;
  }
  @media (max-width:1280px){
    padding:0 15% !important
  }
  @media (max-width:600px){
    padding:0 2% !important
  }
}